@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
*{
  padding: 0%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/*Heading*/

.container{
  height: 100vh;
  width: 100%;
  background-color: #CCD5AE;
  position: relative;
  overflow: hidden;
}
nav{
  width: 90%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  list-style-type: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  text-decoration: none;
  padding: 0.3rem 1.3rem;
  font-size: 17px;
  font-weight: bold;
  color: #494234;
  position: relative;
  z-index: 1;
}
nav ul a::after{
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top:0;
  left:0px;
  border-radius: 20px;
  background-color: #E5E0FF;
  z-index: -1;
  transition: 0.5s;
}
nav ul a:hover:after{
  width: 100%;
}
.logo{
  width: 5%;
  margin-left: 55%;
  margin-top: 1%;
  font-family: 'Happy Monkey', cursive;
}

/*explore*/
.explore{
  display: flex;
  padding: 15px;
}
.division{
  float: left;
  width: 33.33%;
  padding: 50px;
  height: 140px;
  background-color:#FCF9BE;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;
}
.division img{
  width: 200px;
  height: 200px;
  margin-left: 20px;
}
.title{
  text-align: center;
  font-weight: 800;
  margin-top: 15px;
}

/*Body*/
.content{
  margin-top: 60px;
  width: 80%;
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image, .text{
  flex-basis: 50%;
}
.image img{
  width: 100%;
  border-radius: 25%;
}
.text h1{
  font-size: 50px;
  letter-spacing: 1px;
  color: #494234;
  margin-left: 30%;
}
.text p{
  margin-top: 25px;
  font-size: 15px;
  letter-spacing: 1px;
  margin-left: 30%;
}
.text button{
  margin-top: 20px;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  background-color: #494234;
  color: white;
  cursor: pointer;
  margin-left: 30%;
}

/*explore*/

.contact{
  display: flex;
  width: 68.32%;
  background: #494234;
  padding: 200px;
}
.myForm{
  position: absolute;
  width: 400px;
  height: 400px;
  background: #FEDEFF;
  border-radius: 20px;
}
.center{
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid silver;
}

.myForm{
  padding: 20px 40px;
  box-sizing: border-box;
}
input{
  width: 80%;
  padding: 0 5px;
  height: 60px;
  border: none;
  background: none;
  outline: none;
}
button[type="submit"]{
  width: 100%;
  height: 40px;
  border: 1px solid;
  background: #494234;
  border-radius: 25px;
  color: azure;
  outline: none;
  cursor: pointer;
}
.float-child {
  width: 50%;
  float: left;
  padding: 20px;
} 
.caption{
  color: #E5E0FF;
}
i{
  color: aliceblue;
  font-size: 40px;
  padding: 10px;
  margin-top: 20%;
}
